.trust-section {
  padding: 60px 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.trust-title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.trust-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
}

.trust-complexes {
  max-width: 900px;
  margin: 0 auto 30px auto; /* Отступ снизу до логотипов */
  text-align: center;
  padding: 0 15px;
}

.complexes-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
  margin-top: 50px;
}

.complexes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 10px; /* Отступы между ЖК по горизонтали и вертикали */
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.complexes-list .separator {
  color: #ccc; /* Цвет точек разделителей можно сделать помягче */
}


.logo-item img {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.logo-item img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@media (max-width: 768px) {
  .trust-logos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .logo-item img {
    max-height: 40px;
  }

  .trust-title {
      font-size: 35px;
      margin-bottom: 40px;
  }
}
